DB_URL=[Your desired Database URL]
PORT=[Your desired PORT]
JWT_SECRET=[Your desired JWT secret]
REFRESH_TOKEN_SECRET=[Your desired refresh token secret]
AWS_ACCESS_KEY_ID =[Your AWS access key here]
AWS_SECRET_ACCESS_KEY=[Your AWS secret key here]
AWS_S3_BUCKET_NAME=[Your AWS bucket name here]
AWS_REGION=[Your AWS bucket region here]
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxx

